.loadingScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    text-align: center;
    opacity: .9;
    padding-top: 45%;
}

.loadingIcon {
    background-image: url(/images/default.gif);
    width: 120px;
    height: 120px;
    display: inline-block;
}
